<div class="container">
  <h2>Lista de Productos</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <!-- Añade más columnas si necesitas -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio | currency }}</td>
        <!-- Añade más celdas si tienes más datos para mostrar -->
      </tr>
    </tbody>
  </table>
</div>
